body, html {
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

#hero {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hover-card:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease;
}
